/*Static Grid Layout Pieces*/
.MasterGrid {
  display: grid;
  grid-template-columns: fit-content(276px) 1fr;
  grid-template-rows: fit-content(34px) 1fr;
  grid-auto-flow: row;
  grid-gap: 3px;
  outline: none;
  justify-content: justify;
}

.CharacterGridcell {
  grid-column-start: 1 ;
  grid-row-start: 1;
  grid-row-end: 3;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  justify-content: center;
}

.PageSelectorGridcell {
  grid-column-start: 2;
  grid-row-start: 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  justify-content: left;
}

.CharacterSheetGridcell {
  grid-column-start: 2;
  grid-row-start: 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  justify-content: left;
}

/*Character Info*/
.CharacterFlexContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.CharacterNameFlexItem {
  max-width: 271px;
  justify-content: center;
}

.CharacterPicFlexItem {
  max-width: 271px;
  justify-content: center;
}

.CharacterTokenFlexItem {
  max-width: 116px;
  max-height: 116px;
  justify-content: center;
}

.CharacterDescriptionFlexItem {
  max-width: 116px;
  max-height: 116px;
  justify-content: center;
}

.CharacterEquippedFlexItem {
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterEquippedFlexItem > .repcontainer[data-groupname="repeating_weapons"] {
  outline: none;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterEquippedFlexItem > .repcontainer[data-groupname="repeating_weapons"] .repitem {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
}

.CharacterEquippedFlexItem > .repcontrol[data-groupname="repeating_weapons"] {
  display: none;
}

.CharacterEquippedFlexItem > .repcontainer[data-groupname="repeating_items"] {
  outline: none;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterEquippedFlexItem > .repcontainer[data-groupname="repeating_items"] .repitem {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
}

.CharacterEquippedFlexItem > .repcontrol[data-groupname="repeating_items"] {
  display: none;
}

/*Page Selector*/
.PageSelectorFlexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.PageSelectorFlexItem {
  justify-content: center;
}

/*Character Sheet*/
.SheetPageFlexContainer {
  justify-content: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.CharacterSheetFlexObject {
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterQuirkSubgrid {
  display: grid;
  grid-template-columns: fit-content 1fr fit-content;
  grid-template-rows: auto;
  grid-auto-flow: column;
  column-gap: 2%;
  outline: none;
}

.CharacterTempStatAdjustmentSubgrid {
  display: grid;
  grid-template-columns: 11% 26% 11% 46%;
  grid-template-rows: auto;
  grid-auto-flow: column;
  column-gap: 2%;
  outline: none;
}

/*Weapons*/
.SheetPageWeapon > .repcontainer[data-groupname="repeating_weapons"] {
  grid-row: span 3;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.SheetPageWeapon > .repcontainer[data-groupname="repeating_weapons"] > .repitem {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.SheetPageWeapon > .repcontrol[data-groupname="repeating_weapons"] {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}


/*Items*/
.SheetPageItem > .repcontrol[data-groupname="repeating_items"] {
  grid-row: span 3;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.SheetPageItem > .repcontrol[data-groupname="repeating_items"] > .repitem {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.SheetPageItem > .repcontrol[data-groupname="repeating_items"] {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

/*Class*/
.ClassStatGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.ClassStatGridItem {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-height: fit-content;
  text-align: center;
}

.charsheet .sheet-classskillslist-Check {
  appearance: none;
}

.charsheet .sheet-classskillslist-Check:checked::before {
  content: ' ↴ ';
}

.charsheet .sheet-classskillslist-Check:not(:checked)::before {
  content: ' → ';
}

.sheet-classskillslist-Short,
.charsheet .sheet-classskillslist-Check:checked ~ .sheet-classskillslist-Long {
  display: block;
}

.charsheet .sheet-classskillslist-Long,
.charsheet .sheet-classskillslist-Check:checked ~ .sheet-classskillslist-Short {
  display: none;
}

/*Skills*/
.charsheet .sheet-combatskillslist-Check {
  appearance: none;
}

.charsheet .sheet-combatskillslist-Check:checked::before {
  content: ' ↴ ';
}

.charsheet .sheet-combatskillslist-Check:not(:checked)::before {
  content: ' → ';
}

.sheet-combatskillslist-Short,
.charsheet .sheet-combatskillslist-Check:checked ~ .sheet-combatskillslist-Long {
  display: block;
}

.charsheet .sheet-combatskillslist-Long,
.charsheet .sheet-combatskillslist-Check:checked ~ .sheet-combatskillslist-Short {
  display: none;
}

.charsheet .StatCombatSkillSelectorDisplay[value="0"] + .PrimaryLabel {
  display: none;
}

.charsheet .WeaponCombatSkillSelectorDisplay[value="0"] + .PrimaryLabel {
  display: none;
}

label.GreatSkillHeroic,
label.GreatSkillEpic,
label.GreatSkillLegendary { display: none; }

.charsheet .GreatSkillSelector[value="0"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="1"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="2"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="3"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="4"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="5"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="6"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="7"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="8"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="9"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="10"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="11"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="12"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="13"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="14"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="15"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="16"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="17"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="18"] ~ label.GreatSkillHeroic,
.charsheet .GreatSkillSelector[value="19"] ~ label.GreatSkillHeroic { display: block; }
.charsheet .GreatSkillSelector[value="20"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="21"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="22"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="23"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="24"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="25"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="26"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="27"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="28"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="29"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="30"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="31"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="32"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="33"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="34"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="35"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="36"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="37"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="38"] ~ label.GreatSkillEpic,
.charsheet .GreatSkillSelector[value="39"] ~ label.GreatSkillEpic { display: block; }
.charsheet .GreatSkillSelector[value="40"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="41"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="42"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="43"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="44"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="45"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="46"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="47"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="48"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="49"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="50"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="51"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="52"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="53"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="54"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="55"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="56"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="57"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="58"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="59"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="60"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="61"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="62"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="63"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="64"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="65"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="66"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="67"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="68"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="69"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="70"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="71"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="72"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="73"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="74"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="75"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="76"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="77"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="78"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="79"] ~ label.GreatSkillLegendary,
.charsheet .GreatSkillSelector[value="80"] ~ label.GreatSkillLegendary { display: block; }

/*Growth*/
.GrowthGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.GrowthGridItem {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-height: fit-content;
  text-align: center;
}

.repcontainer[data-groupname=repeating_combatskillslist] {
  display: table;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.RepeatingcombatskillslistSection {
  display: table-row;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.RepeatingcombatskillslistSectionHeader {
  display: none;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.LevelupcombatskillslistGridItemHeader {
  display: none;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-height: fit-content;
  text-align: center;
}

.LevelupcombatskillslistGridItem {
  display: table-cell;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-height: fit-content;
  text-align: center;
}

.repcontainer[data-groupname=repeating_combatskillslist] > .repitem:first-child > .RepeatingcombatskillslistSectionHeader {
  display: table-row;
}

.repcontainer[data-groupname=repeating_combatskillslist] > .repitem:first-child > .RepeatingcombatskillslistSectionHeader > .LevelupcombatskillslistGridItemHeader {
  display: table-cell;
}

.repcontrol[data-groupname=repeating_combatskillslist]  {
  display: none;
  visibility: hidden;
}

/*Notes*/

/*Configuration*/

/*Titles, Labels, and Input*/
.PrimaryTitle {
  font: auto;
}

.PrimaryLabel {
  font: auto;
  width: fit-content;
}

.PrimaryEntry {
  font: auto;
  outline: none;
  width: auto;
}

.PrimaryNotesEntry {
  outline: none;
  width: 96%;
  max-width: 96%;
  min-width: 96%;
  height: 98%;
  max-height: 98%;
  min-height: 98%;
  background: none;
  resize: none;
}

.PrimaryDropdown {
  font: auto;
  width: fit-content;
}

.PrimaryButton {
  font: auto;
  height: fit-content;
  width: fit-content;
}

/*Page Selector Logic*/
/*mark your sections invisible here*/
.charsheet .SheetPageCharacter,
.charsheet .SheetPageWeapon,
.charsheet .SheetPageItem,
.charsheet .SheetPageClass,
.charsheet .SheetPageSkills,
.charsheet .SheetPageGrowth,
.charsheet .SheetPageNotes,
.charsheet .SheetPageConfiguration { display: none; }

/*Add your tabs for their given section here*/
.charsheet .tabstoggle[value="Character"] ~ div.SheetPageCharacter,
.charsheet .tabstoggle[value="Weapons"] ~ div.SheetPageWeapon,
.charsheet .tabstoggle[value="Items"] ~ div.SheetPageItem,
.charsheet .tabstoggle[value="Class"] ~ div.SheetPageClass,
.charsheet .tabstoggle[value="Skills"] ~ div.SheetPageSkills,
.charsheet .tabstoggle[value="Growth"] ~ div.SheetPageGrowth,
.charsheet .tabstoggle[value="Notes"] ~ div.SheetPageNotes,
.charsheet .tabstoggle[value="Configuration"] ~ div.SheetPageConfiguration { display: flex; }