/*Static Grid Layout Pieces*/
.MasterGrid {
  display: grid;
  grid-template-columns: fit-content(276px) 1fr;
  grid-template-rows: fit-content(34px) 1fr;
  grid-auto-flow: row;
  grid-gap: 3px;
  outline: none;
  justify-content: justify;
}

.CharacterGridcell {
  grid-column-start: 1 ;
  grid-row-start: 1;
  grid-row-end: 3;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  justify-content: center;
}

.PageSelectorGridcell {
  grid-column-start: 2;
  grid-row-start: 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  justify-content: left;
}

.CharacterSheetGridcell {
  grid-column-start: 2;
  grid-row-start: 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  justify-content: left;
}

/*Character Info*/
.CharacterFlexContainer {
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.CharacterNameFlexItem {
  max-width: 271px;
  justify-content: center;
}

.CharacterPicFlexItem {
  max-width: 271px;
  justify-content: center;
}

.CharacterTokenFlexItem {
  max-width: 116px;
  max-height: 116px;
  justify-content: center;
}

.CharacterDescriptionFlexItem {
  max-width: 116px;
  max-height: 116px;
  justify-content: center;
}

.CharacterEquippedFlexItem {
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterEquippedFlexItem > .repcontainer[data-groupname="repeating_weapons"] {
  outline: none;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterEquippedFlexItem > .repcontainer[data-groupname="repeating_weapons"] .repitem {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
}

.CharacterEquippedFlexItem > .repcontrol[data-groupname="repeating_weapons"] {
  display: none;
}

.CharacterEquippedFlexItem > .repcontainer[data-groupname="repeating_items"] {
  outline: none;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterEquippedFlexItem > .repcontainer[data-groupname="repeating_items"] .repitem {
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 2px;
}

.CharacterEquippedFlexItem > .repcontrol[data-groupname="repeating_items"] {
  display: none;
}

/*Page Selector*/
.PageSelectorFlexContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.PageSelectorFlexItem {
  justify-content: center;
}

/*Character Sheet*/
.SheetPageFlexContainer {
  justify-content: left;
  padding: 0;
  margin: 0;
  list-style: none;
}

.CharacterSheetFlexObject {
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterQuirkSubgrid {
  display: grid;
  grid-template-columns: fit-content 1fr fit-content;
  grid-template-rows: auto;
  grid-auto-flow: column;
  column-gap: 2%;
  outline: none;
}

.CharacterTempStatAdjustmentSubgrid {
  display: grid;
  grid-template-columns: 11% 26% 11% 46%;
  grid-template-rows: auto;
  grid-auto-flow: column;
  column-gap: 2%;
  outline: none;
}

/*Weapons*/
.SheetPageWeapon > .repcontainer[data-groupname="repeating_weapons"] {
  grid-row: span 3;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.SheetPageWeapon > .repcontainer[data-groupname="repeating_weapons"] > .repitem {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.SheetPageWeapon > .repcontrol[data-groupname="repeating_weapons"] {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}


/*Items*/
.charsheet .RepeatingItemSection~.repcontainer[data-groupname="repeating_items"] {
  grid-row: span 3;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.charsheet .RepeatingItemSection~.repcontainer[data-groupname="repeating_items"] > .repitem {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  margin-right: 2px;
  margin-bottom: 2px;
}

.charsheet .RepeatingItemSection~.repcontrol[data-groupname="repeating_items"] {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

/*Class*/
.ClassStatGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.ClassStatGridItem {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-height: fit-content;
  text-align: center;
}

.charsheet .sheet-ClassSkillsList-Check {
  appearance: none;
}

.charsheet .sheet-ClassSkillsList-Check:checked::before {
  content: ' ↴ ';
}

.charsheet .sheet-ClassSkillsList-Check:not(:checked)::before {
  content: ' → ';
}

.sheet-ClassSkillsList-Short,
.charsheet .sheet-ClassSkillsList-Check:checked ~ .sheet-ClassSkillsList-Long {
  display: block;
}

.charsheet .sheet-ClassSkillsList-Long,
.charsheet .sheet-ClassSkillsList-Check:checked ~ .sheet-ClassSkillsList-Short {
  display: none;
}

/*Skills*/
.charsheet .sheet-CombatSkillsList-Check {
  appearance: none;
}

.charsheet .sheet-CombatSkillsList-Check:checked::before {
  content: ' ↴ ';
}

.charsheet .sheet-CombatSkillsList-Check:not(:checked)::before {
  content: ' → ';
}

.sheet-CombatSkillsList-Short,
.charsheet .sheet-CombatSkillsList-Check:checked ~ .sheet-CombatSkillsList-Long {
  display: block;
}

.charsheet .sheet-CombatSkillsList-Long,
.charsheet .sheet-CombatSkillsList-Check:checked ~ .sheet-CombatSkillsList-Short {
  display: none;
}

/*Growth*/
.GrowthGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-flow: row;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.GrowthGridItem {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-height: fit-content;
  text-align: center;
}

.repcontainer[data-groupname=repeating_CharacterLevel] {
  display: table;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.RepeatingCharacterLevelSection {
  display: table-row;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.RepeatingCharacterLevelSectionHeader {
  display: none;
  outline: none;
  outline-width: 0;
  outline-style: none;
  max-height: fit-content;
}

.LevelupCharacterLevelGridItemHeader {
  display: none;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-height: fit-content;
  text-align: center;
}

.LevelupCharacterLevelGridItem {
  display: table-cell;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-height: fit-content;
  text-align: center;
}

.repcontainer[data-groupname=repeating_characterlevel] > .repitem:first-child > .RepeatingCharacterLevelSectionHeader {
  display: table-row;
}

.repcontainer[data-groupname=repeating_characterlevel] > .repitem:first-child > .RepeatingCharacterLevelSectionHeader > .LevelupCharacterLevelGridItemHeader {
  display: table-cell;
}

.repcontrol[data-groupname=repeating_characterlevel]  {
  display: none;
  visibility: hidden;
}

/*Notes*/

/*Configuration*/

/*Titles, Labels, and Input*/
.PrimaryTitle {
  font: auto;
}

.PrimaryLabel {
  font: auto;
  width: fit-content;
}

.PrimaryEntry {
  font: auto;
  outline: none;
  width: auto;
}

.PrimaryNotesEntry {
  outline: none;
  width: 96%;
  max-width: 96%;
  min-width: 96%;
  height: 98%;
  max-height: 98%;
  min-height: 98%;
  background: none;
  resize: none;
}

.PrimaryDropdown {
  font: auto;
  width: fit-content;
}

.PrimaryButton {
  font: auto;
  height: fit-content;
  width: fit-content;
}

/*Page Selector Logic*/
/*mark your sections invisible here*/
.charsheet .SheetPageCharacter,
.charsheet .SheetPageWeapon,
.charsheet .SheetPageItem,
.charsheet .SheetPageClass,
.charsheet .SheetPageSkills,
.charsheet .SheetPageGrowth,
.charsheet .SheetPageNotes,
.charsheet .SheetPageConfiguration { display: none; }

/*Add your tabs for their given section here*/
.charsheet .tabstoggle[value="Character"] ~ div.SheetPageCharacter,
.charsheet .tabstoggle[value="Weapons"] ~ div.SheetPageWeapon,
.charsheet .tabstoggle[value="Items"] ~ div.SheetPageItem,
.charsheet .tabstoggle[value="Class"] ~ div.SheetPageClass,
.charsheet .tabstoggle[value="Skills"] ~ div.SheetPageSkills,
.charsheet .tabstoggle[value="Growth"] ~ div.SheetPageGrowth,
.charsheet .tabstoggle[value="Notes"] ~ div.SheetPageNotes,
.charsheet .tabstoggle[value="Configuration"] ~ div.SheetPageConfiguration { display: flex; }