.MasterGrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
  column-gap: 5px;
  row-gap: 5px;
  outline: none;
  justify-content: justify;
}

.CharacterInfo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  justify-content: center;
}

.CharacterInfoSubGrid {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-auto-flow: row;
  column-gap: 5px;
  row-gap: 5px;
  outline: none;
  justify-content: left;
}

.CharacterInfoSubGridName {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 1;
  grid-row-end: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-width: 271px;
}

.CharacterInfoSubGridPicture {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row-start: 2;
  grid-row-end: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-width: 271px;
}

.CharacterInfoSubGridToken {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-width: 128px;
}

.CharacterInfoSubGridNotes {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 4;
  grid-row-end: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  max-width: 128px;
}

.HeaderRow {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.FarRightDesign {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 11;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

/*Character Tab Section*/
.CharacterQuirkBox {
  grid-row: span 1;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterTallItem {
  grid-row: span 2;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.CharacterWideItem {
  grid-row: span 1;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

/*Weapon Tab Section*/
.WeaponTallItem {
  grid-row: span 2;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.repcontainer[data-groupname="repeating_weapons"] {
  grid-row: span 1;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
}

.repcontainer[data-groupname="repeating_weapons"] > .repitem {
  grid-row: span 1;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}
.repcontrol[data-groupname="repeating_weapons"] {
  grid-row: span 1;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.RegularItem {
  grid-area: auto;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.TallItem {
  grid-row: span 2;
  grid-column: span 1;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.WideItem {
  grid-row: span 1;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.BigItem {
  grid-row: span 2;
  grid-column: span 2;
  outline: auto;
  outline-width: thin;
  outline-style: solid;
  padding: 5px;
}

.SubGridFourColumn {
  display: grid;
  grid-template-columns: 11% 26% 11% 46%;
  grid-template-rows: auto;
  grid-auto-flow: column;
  column-gap: 2%;
  outline: none;
}

.SubGridThirds {
  grid-area: auto;
  outline: auto;
  outline-width: thin;
  outline-style: none;
  width: 100%;
  align-items: left;
}

.PrimaryTitle {
  font: auto;
}

.PrimaryLabel {
  font: auto;
  width: fit-content;
}

.PrimaryEntry {
  font: auto;
  outline: none;
  width: fit-content;
}

.NotesEntry {
  outline: none;
  width: 96%;
  max-width: 96%;
  min-width: 96%;
  height: 98%;
  max-height: 98%;
  min-height: 98%;
  background: none;
  resize: none;
}

.RepeatedEntry {
  font: auto;
  outline: none;
  width: auto;
  height: auto;
}

.QuirkEntry {
  font: auto;
  outline: none;
  width: auto;
}

.TempStatsMainColumn1 {
  column-count: 3;
  grid-column: 1;
  column-width: 30%;
  justify-self: left;
}

.TempStatsMainColumn2 {
  column-count: 3;
  grid-column: 2;
  column-width: 30%;
  justify-self: center;
}

.TempStatsMainColumn3 {
  column-count: 3;
  grid-column: 3;
  column-width: 30%;
  justify-self: right;
}

/*mark your sections invisible here*/
.charsheet .CharacterQuirkBox,
.charsheet .CharacterTallItem,
.charsheet .CharacterWideItem,
.charsheet .repcontainer[data-groupname="repeating_weapons"],
.charsheet .repcontrol[data-groupname="repeating_weapons"],
.charsheet .WeaponTallItem,
.charsheet .journal {
    display: none;
}

/*Add your tabs for their given section here*/
.charsheet .tabstoggle[value="character"] ~ div.CharacterQuirkBox,
.charsheet .tabstoggle[value="character"] ~ div.CharacterTallItem,
.charsheet .tabstoggle[value="character"] ~ div.CharacterWideItem,
.charsheet .tabstoggle[value="weapons"] ~ div.repcontainer[data-groupname="repeating_weapons"],
.charsheet .tabstoggle[value="weapons"] ~ div.repcontrol[data-groupname="repeating_weapons"],
.charsheet .tabstoggle[value="items"] ~ div.journal,
.charsheet .tabstoggle[value="levels"] ~ div.config,
.charsheet .tabstoggle[value="configuration"] ~ div.journal {
    display: grid;
}