.sheet-MasterGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-flow: row;
    outline: auto;
  }

.sheet-CharacterPictureItem {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    outline: auto;
  }

.sheet-RegularItem {
    grid-area: auto;
    outline: auto;
  }

.sheet-TallItem {
    grid-row: span 2;
    grid-column: span 2;
    outline: auto;
}

  .sheet-FarRightDesign {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 10;
    outline: auto;
  }