input.sheet-tab1:checked ~ div.sheet-tab1,
input.sheet-tab2:checked ~ div.sheet-tab2,
input.sheet-tab3:checked ~ div.sheet-tab3,
input.sheet-tab4:checked ~ div.sheet-tab4,
input.sheet-tab5:checked ~ div.sheet-tab5,
input.sheet-tab6:checked ~ div.sheet-tab6 { display: block; }

input.sheet-tab {
    width: 150px;
    height: 20px;
    position: relative;
    top: 5px;
    left: 6px;
    margin: -1.5px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
}

input.sheet-tab + span::before {
    content: attr(title);
    border: solid 1px #a8a8a8;
    border-bottom-color: black;
    text-align: center;
    display: inline-block;
    background: #fff;
    background: linear-gradient(to top, #c8c8c8, #fff, #c8c8c8);
    width: 150px;
    height: 20px;
    font-size: 18px;
    position: absolute;
    top: 74px;
    left: 25px;
}

input.sheet-tab:checked + span::before {
    background: #dcdcdc;
    background: linear-gradient(to top, #fcfcfc, #dcdcdc, #fcfcfc);
    border-bottom-color: #fff;
}

input.sheet-tab:not(:first-child) + span::before { border-left: none; }

input.sheet-tab2 + span::before { left: 163px; }

input.sheet-tab3 + span::before { left: 313px; }

input.sheet-tab4 + span::before { left: 463px; }

input.sheet-tab5 + span::before { left: 613px; }

input.sheet-tab6 + span::before { left: 763px; }

div.sheet-tab-content {
    display: none;
    border: 1px solid #a8a8a8;
    border-top-color: #000;
    margin: 2px 0 0 5px;
    padding: 5px;
    height: 90%;
    overflow-y: auto;
}

.sheet-column {
    float: left;
    width: 33.33%;
}

.sheet-column-quad {
    float: left;
    width: 24%;
    padding-left: 0.5%;
    border-right: 1px solid #a8a8a8;
}

.sheet-column-offset-left {
    float: left;
    width: 65%;
}

.sheet-column-offset-right {
    float: left;
    width: 35%;
}

.sheet-column-quad-textbox {
    float: left;
    width: 16.25%;
}

/* Clear floats after the columns */
.sheet-row::after {
    content: "";
    display: table;
    clear: both;
}